# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter checkpoints
.ipynb_checkpoints/

# Secrets — never push!
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# Large raw data files — too big for GitHub
data/job_descriptions.csv
data/jobs_cleaned.csv
data/jobs_preprocessed.csv
data/resume_cleaned.csv
data/resume_preprocessed.csv
data/labeled_dataset.csv
data/Resume.csv
data/X_features.npy
data/y_labels.npy

# Numpy arrays
*.npy